# Virtual environments
.venv/
.venv311/

# Python cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Environment/secrets
.env

# Logs
*.log

# Streamlit
.streamlit/secrets.toml